@use '../utilities/variables';
@use '../utilities/mixins';

.keypad {
    background-color: var(--toggle-keypad-bg);
    margin-top: 2em;
    border-radius: 10px;
}

.griddy {
    padding: 1.25em;
}

.number-grid {
    @include mixins.grid($gt-cols: repeat(4, 1fr), $gt-rows: repeat(4, 1fr), $gr-gap: 15px);
    @include mixins.mq(lg) {
        grid-gap: 25px;
    }
    > button {
        border: none;
        height: 50px;
        border-radius: 5px;
        font-weight: 900;
        font-size: 1.25rem;
        @include mixins.button-style(var(--key-text), var(--key-bg), 0 3px 0 var(--key-shadow));
        @include mixins.flex-box($align: center, $just: center);
        &:active {
            box-shadow: inset 0 0 7px var(--key-shadow);
        }
    }
    > button:nth-of-type(4) {
        @include mixins.button-style(variables.$white, var(--reset-key-bg), 0 3px 0 var(--reset-shadow));
        font-weight: 700;
        font-size: 1rem;
         &:active {
            box-shadow: inset 0 0 7px var(--key-shadow);
        }
    }
}

.reset-equal {
    margin-top: 15px;
    @include mixins.grid($gt-cols: 1fr 1fr, $gt-rows: 1fr, $gr-gap: 15px);
    @include mixins.mq(lg) {
        margin-top: 25px;
        grid-gap: 25px;
    }
    > button {
        border: none;
        border-radius: 5px;
        height: 60px;
        font-weight: 900;
        @include mixins.flex-box($align: center, $just: center);
    }
    > button:first-child {
        @include mixins.button-style(variables.$white, var(--reset-key-bg), 0 3px 0 var(--reset-shadow));
        &:active {
            box-shadow: inset 0 0 7px var(--reset-shadow);
        }
        
    }
    > button:last-child {
        @include mixins.button-style(var(--equal-key), var(--toggle-equal-key), 0 3px 0 var(--toggle-equal-shadow));
        &:active {
            box-shadow: inset 0 0 7px var(--toggle-equal-shadow);
        }
    }
}

.pressed {
    border: 2px solid red;
}