@use '../utilities/variables';
@use '../utilities/mixins';

.main-body {
    background-color: variables.$main-bg1;
    color: variables.$white;
    min-height: 100vh;
    overflow: scroll;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    @include mixins.mq(med) {
        max-width: 375px;
    }
    @include mixins.mq(lg) {
        max-width: 550px;
        padding-top: 4em;
    }
}

#numberInput {
    background-color: variables.$screen-bg1;
    padding: 1.5em;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: variables.$white;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 900;
    @include mixins.mq(lg) {
        padding: 2em;
    }
}